 .button {
   background: $blue;
   color: white;
   display: inline-block;
   border: none;
   font-size: $font-size-large;
   padding: $s-size;
   font-weight: 300;
   line-height: 1;
   text-decoration: none;
 }

 .button--link {
    background: none;
 }

 .button--secondary {
   background: #888;
 }